*.suo
*.user
*.userosscache
*.sln.docstates
*.njsproj
*.jsproj
*.esproj

.vs/
bin/
obj/
*.resharper/
*.resharper.user
*.vssscc
*.vspscc
*.vstls
*.vssscc

project.lock.json
project.glyph
*.obj
*.exe
*.dll
*.pdb
*.exe.config
*.dll.config

packages/

secrets.json
*.secrets

**/bin/
**/obj/

*.deps.json
*.runtimeconfig.json

.idea/

.DS_Store

Thumbs.db